.columnas{
    margin: 0px;
    padding: 0px;
    display: inline;
}
.contenedor{
    display:inline;
}



li{
    float: left;
    list-style: none;
}
.menu a{
    color: blue;
    background-color: gray;
    width: 100px;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 18px;
    
}
p{
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 20px; 
    text-align: left;
}
.final p{   
     font-size: 15px;
}